* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.category {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    height: 989px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.category__slogan h1 {
    width: 470px;
    color: var(--text-color);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: -2px;
}

.category__content-about {
    padding-left: 150px;
}

.category__content-about h3 {
    color: var(--primary-blue);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    letter-spacing: -0.8px;
    margin-left: 3px;
}

.category-list {
    margin-top: 24px;
    margin-left: 5px;
    list-style: none;
}

.category-list li {
    width: 480px;
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-bottom: 15px;
    color: var(--text-color);
    padding-left: calc(10px + 7.24px);
    letter-spacing: -0.2px;
    /*distance from center to text*/
}

.category-list li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;
    width: 7.24px;
    height: 7.24px;
    border-radius: 50%;
    background-color: var(--primary-pink);
    transform: rotate(45deg) translateX(-50%);
    border-radius: 50% 0% 50% 50% / 50% 0% 50% 50%;
}